form {
    padding: 0 20px 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 6px 0;
    background-color: #221f3c;
    color: #fff;
    border: none;
}

input[type="submit"] {
    margin: 10px auto;
    background-color: #eee;
    border: none;
    padding: 6px 20px;
    display: block;
}
